<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title
      class="ion-text-center"
      style="display: flex; align-items: center; justify-content: center"
    >
      <ion-icon
        aria-hidden="true"
        name="home-outline"
        style="font-size: 32px"
      ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-card-subtitle slot="end"
        >Clique em um item para ver detalhes</ion-card-subtitle
      >
      <ion-item *ngFor="let school of schools; let i = index">
        <ion-label
          [routerLink]="['/school/' + school.coEntidade]"
          title="Ver detalhes"
        >
          <ion-text color="primary">
            <h2>{{school.noEntidade}}</h2>
          </ion-text>
          <p>{{school.noMunicipio}} - {{school.sgUf}}</p>
        </ion-label>

        <ion-icon
          [name]="checkFavorite(school.coEntidade) ? 'star' : 'star-outline'"
          slot="end"
          (click)="like(i)"
          onkeypress="like(i)"
        ></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <div class="center-button">
    <ion-button
      *ngIf="!last"
      shape="round"
      (click)="listSchools()"
      onkeypress="listSchools()"
      >Ver mais</ion-button
    >
  </div>
</ion-content>
