<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title
      class="ion-text-center"
      style="display: flex; align-items: center; justify-content: center"
    >
      <ion-icon
        aria-hidden="true"
        name="star-outline"
        style="font-size: 32px"
      ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list *ngIf="favoriteSchools.length > 0">
      <ion-item *ngFor="let school of favoriteSchools; let i = index">
        <ion-label
          [routerLink]="['/school/' + school.coEntidade]"
          title="Ver detalhes"
        >
          <ion-text color="primary">
            <h2>{{school.noEntidade}}</h2>
          </ion-text>
          <p>{{school.noMunicipio}} - {{school.sgUf}}</p>
        </ion-label>

        <ion-icon
          name="star"
          slot="end"
          [class.liked]="school.isLiked"
          (click)="dislike(school)"
          onkeyup="dislike(school)"
        ></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <div *ngIf="favoriteSchools.length === 0" class="ion-text-center">
    <p style="font-size: large">Você ainda não possui favoritas</p>
    <div>
      <ion-icon name="sad" style="font-size: 50px; color: #428cff"></ion-icon>
    </div>
  </div>
</ion-content>
